project:
  type: website
  output-dir: _site

website:
  page-navigation: true
  title: "NSIDC Data Cookbook"

  sidebar:
    title: "NSIDC Data Cookbook"
    logo: https://nsidc.org/themes/custom/nsidc/logo.svg
    pinned: true
    align: center
    tools: 
#      - icon: globe
#        href: https://nasa-openscapes.github.io
#        text: "NASA-Openscapes website"
      - icon: github
        href: https://github.com/nsidc/NSIDC-Data-Cookbook
        text: "NSIDC Data Cookbook repo"

    style: "docked"
    search: true
    collapse-level: 1
    contents:
      - text: "Welcome to our Cookbook"
        href: index.qmd
      - text: "Getting Started"
        href: our-cookbook.qmd
      - text: "Quick Start Guide"
        # href: quickstart.qmd
      - section: "Data Orientaion"
        # href: reference-guides/data-orient-overview.qmd
        contents:
           - text: "Types of data at NSIDC"
             href: reference-guides/data-structures.qmd
           - text: "Common NSIDC file formats"
             href: reference-guides/nsidc-file-formats.qmd
           - text: "NASA collections and granules"
           - text: "Datasets"
             href: reference-guides/datasets.qmd
      - section: "Working with Data"
        # href: reference-guides/working-with-data-overview.qmd
        contents:
          - section: "Finding and Accessing Data"
            contents:
              - text: "Dataset search and discovery"
                href: reference-guides/dataset-search-and-discovery.qmd
              - text: "Dataset retrieval"
              - text: "What is an API?"
          - section: "Wrangling Data"
          - section: "Visualizing Data"
            contents:
              - text: "Plotting NSIDC Data"
                href: reference-guides/plotting-data.qmd
              - text: "NSIDC map projections and grids"
                href: reference-guides/projections.qmd
          - text: "Tools we use"
            href: tools-we-use.qmd
      - text: "Best Practices"
      - section: "How do I..."
        href: how-to-guides/overview.qmd
        contents:
          - section: "Search for data"
          - section: "Access data"
          - section: "Reproject data"
          - section: "Work with NetCDF files?"
            contents:
            - text: "get the bounding box of a netcdf file"
              href: how-to-guides/netcdf_cf.qmd
            - text: "get the latitude and longitudes for grid cells"
              href: how-to-guides/get_latitude_and_longitude.qmd

format:
  html:
    theme:
      light: cosmo
      dark: [cosmo, theme-dark.scss]
    code-background: true
    code-copy: true
    css: styles.css
    toc: true

filters:
  - include-files.lua
  - quarto

execute:
  freeze: auto
