project:
  type: website
  output-dir: _site

website:
  page-navigation: true
  title: "NSIDC Data Cookbook"

  sidebar:
    title: "NSIDC Data Cookbook"
    logo: https://nsidc.org/themes/custom/nsidc/logo.svg
    pinned: true
    align: center
    tools: 
#      - icon: globe
#        href: https://nasa-openscapes.github.io
#        text: "NASA-Openscapes website"
      - icon: github
        href: https://github.com/nsidc/NSIDC-Data-Cookbook
        text: "NSIDC Data Cookbook repo"

    style: "docked"
    search: true
    collapse-level: 1
    contents:
      - text: "Welcome to our Cookbook"
        href: index.qmd
      - section: "Getting Started"
        contents:
          - text: "How to use this cookbook"
            href: our-cookbook.qmd
          - text: "Tools we use"
            href: tools-we-use.qmd
#      - text: "Quick Start Guide"
#        # href: quickstart.qmd
      - section: "NSIDC Data"
        # href: reference-guides/data-orient-overview.qmd
        contents:
           - text: "Types of data"
             href: reference-guides/data-structures.qmd
           - text: "Common file formats"
             href: reference-guides/nsidc-file-formats.qmd
           - text: "NASA collections and granules"
           - text: "NSIDC map projections and grids"
             href: reference-guides/projections.qmd
           - text: "Quirky Datasets"
             href: reference-guides/datasets.qmd
      - section: "Working with Data"
        # href: reference-guides/working-with-data-overview.qmd
        contents:
          - section: "Finding and Accessing Data"
            contents:
              - text: "Getting an Earthdata Login"
                href: reference-guides/get-edl.qmd
              - text: "Data search and discovery"
                href: reference-guides/dataset-search-and-discovery.qmd
              - text: "Data access"
                href: reference-guides/data-access.qmd
          - section: "Wrangling Data"
            contents:
              - text: "Subsetting"
              - text: "Reformatting"
              - text: "Reprojecting"
              - text: "Resampling"
          - section: "Visualizing Data"
            contents:
              - text: "Plotting data - time series, scatter plots"
              - text: "Plotting data on a map"
                href: reference-guides/plotting-data.qmd
      - section: "How do I..."
        href: how-to-guides/overview.qmd
        contents:
          - section: "Search for data"
          - section: "Access data"
          - section: "Reproject data"
          - section: "Work with NetCDF files?"
            contents:
            - text: "get the bounding box of a netcdf file"
              href: how-to-guides/netcdf_cf.qmd
            - text: "get the latitude and longitudes for grid cells"
              href: how-to-guides/get_latitude_and_longitude.qmd
      - section: "Tutorials"
        href: tutorials/tutorials_overview.qmd
        contents:
          - text: "Direct cloud access of ICESat-2 data"
            href: tutorials/ATL06-direct-access.ipynb
          - text: "Download ICESat-2 Sea Ice data"
            href: tutorials/working_with_icesat2_sea_ice_data.ipynb
      - section: "Appendices"
        contents:
          - text: "Best Practices"
          - text: "What is an API?"

format:
  html:
    theme:
      light: cosmo
      dark: [cosmo, theme-dark.scss]
    code-background: true
    code-copy: true
    css: styles.css
    toc: true

filters:
  - include-files.lua
  - quarto

execute:
  freeze: auto
